node_modules/
dist/
dist-electron/
.vite/
.env
prisma/dev.db
prisma/dev.db-journal
release/
generated-rocs/
backups/
prisma/generated/
prisma/prisma/
prisma/dev.db.bak-before-path-fix
*.zip
*.pdf
FICHAS 2026.xlsx
FICHAS 2026.docx
INFORMACION-ALUMNOS_SEMESTRAL 1 - 2025_COMPONENTE BASICO Y PROPEDEUTICO 2025_1A.xls
Municipo de tila, tumbala y yajalon.docx
roc_preview.jfif
